<% include partials/header %>

    <!-- <% recipes.forEach((recipe) => { %>
        <div>
            <h4><%= recipe.name %></h4>
            <img src="<%= recipe.image %>">
            <a href="/recipes/<%= recipe._id %>">More info</a>
        </div>
    <% }); %> -->
    
    <section class="section_recent-recipes">
        <div class="section_header"><h1 class="section_header-title">Recent Recipes</h1></div>
        <div class="recipes-container">
            <div class="recent-recipes">
                <% recipes.forEach((recipe) => { %>
                    <div class="recipe-card">
                        <a href="/recipes/<%= recipe._id %>" class="show-recipe">More Info</a>
                        <figure class="recipe-card_image"><img src="<%= recipe.image %>" alt="" class="grid-img"></figure>
                        <div class="recipe-card_title"><h3 class="recipe-card_title--h3"><%= recipe.name %></h3></div>
                        <div class="recipe-card_stats">
                            <p><i class="fas fa-heart"></i> 3,598</p>
                            <p><i class="fas fa-eye"></i> 7,997</p>
                        </div>
                    </div>
                <% }); %>
                <!-- <div class="recipe-card">
                    <figure class="recipe-card_image"><img src="img/r1.jpg" alt="" class="grid-img"></figure>
                    <div class="recipe-card_title"><h3 class="recipe-card_title--h3">Bananas for Pancakes</h3></div>
                    <div class="recipe-card_stats">
                        <p><i class="fas fa-heart"></i> 3,598</p>
                        <p><i class="fas fa-eye"></i> 7,997</p>
                    </div>
                </div>
                <div class="recipe-card">
                    <figure class="recipe-card_image">
                        <img src="img/r2.jpg" alt="" class="grid-img">
                    </figure>
                    <div class="recipe-card_title">
                        <h3 class="recipe-card_title--h3">Deep South Shrimp</h3>
                    </div>
                    <div class="recipe-card_stats">
                        <p>
                            <i class="fas fa-heart"></i> 3,598</p>
                        <p>
                            <i class="fas fa-eye"></i> 7,997</p>
                    </div>
                </div>
                <div class="recipe-card">
                    <figure class="recipe-card_image">
                        <img src="img/r3.jpg" alt="" class="grid-img">
                    </figure>
                    <div class="recipe-card_title">
                        <h3 class="recipe-card_title--h3">Pasta by Alfredo's</h3>
                    </div>
                    <div class="recipe-card_stats">
                        <p>
                            <i class="fas fa-heart"></i> 3,598</p>
                        <p>
                            <i class="fas fa-eye"></i> 7,997</p>
                    </div>
                </div>
                <div class="recipe-card">
                    <figure class="recipe-card_image">
                        <img src="./img/r4.jpg" alt="" class="grid-img">
                    </figure>
                    <div class="recipe-card_title">
                        <h3 class="recipe-card_title--h3">Chocolate Chip Cookie Mounds</h3>
                    </div>
                    <div class="recipe-card_stats">
                        <p>
                            <i class="fas fa-heart"></i> 3,598</p>
                        <p>
                            <i class="fas fa-eye"></i> 7,997</p>
                    </div>
                </div>
                <div class="recipe-card">
                    <figure class="recipe-card_image">
                        <img src="img/r5.jpg" alt="" class="grid-img">
                    </figure>
                    <div class="recipe-card_title">
                        <h3 class="recipe-card_title--h3">Chocolate Chip Cookie Mounds</h3>
                    </div>
                    <div class="recipe-card_stats">
                        <p>
                            <i class="fas fa-heart"></i> 3,598</p>
                        <p>
                            <i class="fas fa-eye"></i> 7,997</p>
                    </div>
                </div>
                <div class="recipe-card">
                    <figure class="recipe-card_image">
                        <img src="img/r6.jpg" alt="" class="grid-img">
                    </figure>
                    <div class="recipe-card_title">
                        <h3 class="recipe-card_title--h3">Chocolate Chip Cookie Mounds</h3>
                    </div>
                    <div class="recipe-card_stats">
                        <p>
                            <i class="fas fa-heart"></i> 3,598</p>
                        <p>
                            <i class="fas fa-eye"></i> 7,997</p>
                    </div>
                </div> -->
            </div>
        </div>
    </section>

<% include partials/footer %>