<% include partials/header %>



<main class="showrecipe-page">
    <div class="showrecipe-body">
        <figure class="showrecipe-body_img">
            <img src="<%= recipe.image %>" alt="Recipe Image" class="grid-img">
        </figure>
        <h1 class="showrecipe-body_title"><%= recipe.name %></h1>
        <p class="showrecipe-body_des"><%= recipe.description %></p>
        <!-- <% recipe.comments.forEach((comment) => { %>
            <p class="showrecipe-body_des"><strong><%= comment.author %></strong> - <%= comment.text %></p>
        <% }); %> -->
        
    </div>
</main>



<% include partials/footer %>